*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 100vh;
    color: $main-color;
    background: $body-bg;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;

    @include respond(426px){
        padding: 0;
    }
}