.city__name {
    animation-name: city__name;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes city__name {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.animate_404 {
    animation-name: animate404;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 5;
}

@keyframes animate404 {
    0%{
        transform: scale(1);
    }

    25%{
        transform: scale(1.2);
    }

    50%{
        transform: scale(1);
    }

    75%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.loader-satellite {
    animation-name: satelliteRotate;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 5;
}

@keyframes satelliteRotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}