.header {
    padding: 30px 0 0 0;

    @include respond(426px){
        padding: 0;
    }

    &__inner {
        background: $main-bg;
        padding: 20px;
        border-radius: 20px 20px 0 0;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $main-color;

        @include respond(md){
            display: block;
        }

        @include respond(426px){
            border-radius: 0;
        }

        @include respond(sm) {
            padding: 10px 20px;
        }

        &__title {
            font-size: 48px;
            font-weight: 700;
            padding: 10px 0;
            color: $main-color;
            width: 50%;

            @include respond(md){
                width: 100%;
            }
            
            @include respond(426px){
                font-size: 36px;
                padding: 5px 0;
            }

            @include respond(sm) {
                padding: 0;
            }
        }

        &__units {

            &__input {
                visibility: hidden;
                margin-left: -16px;

                &:checked + label {
                    font-weight: 500;
                    text-decoration: underline;
                }
            }

            &__label {
                cursor: pointer;
                padding-right: 16px;
            }
        }
    }
}